

/*********************************************************************
**************************  General Section   ************************
*********************************************************************/

*{
    margin: 0;
    padding: 0;
}
.header-height-width{
    height: 55px;
    width: 1519px;
}
.navbar-light{
    background: white;
    color: black;
}
.margin-top-75{
    margin-top: 75px;
}
.margin-bottom-75{
    margin-bottom: 75px;
}
.margin-top-120{
    margin-top: 120px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-85{
    margin-bottom: 85px;
}
.margin-bottom-45{
    margin-bottom: 45px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-top-90{
    margin-top: 90px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-right-70{
    margin-right: 70px;
}
margin-top-70{
    margin-top: 70px;
}
.margin-bottom-16{
    margin-bottom: 16px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.padding-top-16{
    padding-top: 16px; 
}
.padding-bottom-16{
    padding-bottom: 16px; 
}
.padding-left-32{
    padding-left: 32px;
}
.padding-right-32{
    padding-right: 32px;
}
.padding-left-35{
    padding-left: 35px; 
}
.padding-right-35{
    padding-right: 35px; 
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.clearfix{
    margin-left: -9px;
}
.clear-fix{
    content: '';
    display: block;
    clear: both;
}
.bold-font{
    font-weight: bolder;
}
.pos-fixed{
    position: fixed;
}
font-white{
    color: white;
}
.font-15{
    font-size: 15px;
}
.font-24{
    font-size: 24px;
}
.font-monospace{
   font-family: monospace,Montserrat,sans-serif; 
}
.border-light-gray{
    border-bottom: solid 1px #f1f1f1;
}
.height-485{
    height: 485px;
}
.height-320{
    height: 320px;
}
.height-660{
    height: 660px;
}


/*********************************************************************
**************************  Header Section  ************************
*********************************************************************/
.header nav{
    padding-top: 10px;
    z-index: 9999;
}

.menu{
    height: 55px;
    margin-left: 25px;
}
.menu-item{
    display: inline-block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 45px;,
    height: 45px;
    letter-spacing: 4px;
    font-family: monospace,Montserrat,sans-serif;
}

.menu-item a:link,
.menu-item a:visited{
    color: black;
    text-decoration: none;
}
.menu-item:hover{
    background: #CCCCCC;
    color: #000;
    cursor: pointer;
}
.shadow-effect{
   box-shadow: 10px 10px 10px -10px #333 
}

/*********************************************************************
**************************  Image Section  ************************
*********************************************************************/

.arch-img{
    width: 1500px;
    height: 740px;
    margin-left: 9.5px;
    margin-right: 9.5px;
    
}
.arch-img img{
    width: 1500px;
    height: 740px;
    margin-top: 55px;
    position: relative;
}
.portfolio{
    margin: 330px 0px 330px 630px;
    width: 40px;
    height: 65px;
    line-height: 65px;
    position: absolute;
    padding-left: 20px;
    padding-right: 30px;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: monospace,lato,sans-serif;
    letter-spacing: 4px;
}
.mid-title{
    font-size: 36px;
    font-weight: 400;
    font-family: monospace,lato,sans-serif;
    letter-spacing: 4px;
}

.projects{
/*    height: 660px;*/
    width: 100%;
    background: white;
}

.prj-img-section{
    width: 1456px;
/*    height: 485px;*/
    margin-top: 40px;
/*    background: black;*/
}
.house-img{
    width: 24.1758225%;
    height: 235px;
    position: relative; 
}
.house-img img{
    width: 100%;
    height: 235px;
    
}
.left-margin-between{
    margin-left: 1.0989011%;
}
.house-img-portfolio{
    width: 150px;
    height: 30px;
    top: 0;
    background: black;
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: lato,monospace,sans-serif;
    text-align: center;
    line-height: 1.6;   
}

.img-info{
   font-family: monospace,lato,sans-serif;
   background: white;
   height: 250px;
   width: 100%;
}
.btn{
    width: 100%;
    height: 40px;
    background: #CCCCCC;
    color: black;
    padding: 8px 143.5px;
    font-size: 17px;
    font-family: monospace,lato,sans-serif;
    text-decoration: none;
}
.extra-height{
    height: 600px;
}

.inputs{
    width: 100%;
    height: 300px;
   color: black;  
}
.input-box-big{
    width: 95%;;
    height: 40px;
    border: solid 1px #ccc;
    padding-left: 8px;
    margin-top: 5px;
    margin-left: 5px;
}
.send-msg{
    width: 150px;
    height: 40px;
    background: black;
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 12px 18px;
}
.map-photo{
    width: 100%;
    height: 855px;
}
.map-photo img{
    width: 100%;
    height: 855px;
}
.grayscale{
    filter: grayscale(30%);
}

.footer-section{
    margin-top: 20px;
    width: 100%;
    height: 85px;
    background: black;
    color: white;
    text-align: center;
    line-height: 5;
}

.font-gray{
    color: gray;
}
.color-cyan{
    background: cyan;
}


















